/*
  primary: #e65c00
  secondary: #ffa366
  light: #fff0e6
*/

body{
  background-color: #fff0e6;
}

.app-title{
  text-align: center;
  color: #e65c00;
  font-size: 50px;
}

.add-contacts-container{
}

.app-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sub-heading{
  text-align: center;
  font-size: 30px;
}

.user-input{
  display: block;
  font-size: 25px;
  padding: 5px;
  margin: 30px;
  border-radius: 5px;
  border: 1px solid #e65c00;
}

.btn-add-contact{
  display: block;
  margin: 30px auto;
  font-size: 30px;
  padding: 10px 30px;
  background-color: #e65c00;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
